.activeColor {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: #083efd;
}
.currentColor {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: #2b3744;
}
